.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.pPrincipal {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
  color: white;
  padding: 0.vw;
}

.pSecundario {
  position: absolute;
  top: 40%;
  left: 25%;
  right: 30%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  color: white;
  padding: 0.5vw;
}

.divPrincipal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.izquierda,
.derecha{
  height: 100%;
  width: 50%;
}

.parrafo{
  text-align: center;
  margin: 40px;
}

.spanBg {
  transform: translate(-50%, -50%);
  font-size: 3.5vw;
  color: black;
}

.spanMd {
  transform: translate(-50%, -50%);
  font-size: 1.3vw;
  color: black;
}

.spanXs {
  transform: translate(-50%, -50%);
  font-size: 0.8vw;
  color: black;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.boton2 {
  font-size: 1vw;
  background: transparent;
  border-color: black;
  color: black;
}

.boton:hover {
  /* Estilos para el estado hover */
  /* Por ejemplo, cambiar el color de fondo */
  background-color: rgb(143, 167, 143);
}

@media (max-width: 875px) {
  .izquierda,
  .derecha {
    width: 100%;
  }

  .order1 {
    order: 1;
  }

  .order2 {
    order: 2;
  }
}

